<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.studying.dao.UserMapper">

    <select id="userLogin" resultType="com.sky.studying.pojo.User">
        select  * from nj_user where uname=#{uName}
    </select>

</mapper>